@green:#8fc12d;
.margenes(@top:0px,@bottom:0px)
{
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron{
    background-color: @green;
    .margenes(50px,10px);
}
.jumbotron h1{
    color: #fff5f5;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
.information-container{
    text-align: center;
}
.carousel-item img{
    height: 500px;
}
.card-img-top{
    height: 160px;
}
.reserve-btn{
    background-color: #142940;
    border:none;
}
.reserve-btn:hover{
    background-color: #326888;
    border:none;
}
.reserve-btn span{
    padding-right: 10px;
}
footer{
    padding: 20px  30px;
    background-color: @green;
}
.footer-icons{
    padding-right: 10px;
}
.star{
    color: rgb(245, 197, 39);
}
.tab-content{
    padding-top: 10px;
}