.jumbotron {
  background-color: #8fc12d;
  margin-top: 50px;
  margin-bottom: 10px; }

.jumbotron h1 {
  color: white;
  text-shadow: 2px 2px 2px #969696; }

.information-container {
  text-align: center; }

.carousel-item img {
  height: 500px; }

.card-img-top {
  height: 160px; }

.reserve-btn {
  background-color: #142940;
  border: none; }

.reserve-btn:hover {
  background-color: #326888;
  border: none; }

.reserve-btn span {
  padding-right: 10px; }

footer {
  padding: 20px  30px;
  background-color: #8fc12d; }

.footer-icons {
  padding-right: 10px; }

.star {
  color: #f5c527; }

.tab-content {
  padding-top: 10px; }
